body {
	width:1200px;
	
	background: url(https://images.pexels.com/photos/531756/pexels-photo-531756.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	no-repeat center center fixed;
	font-family: sans-serif;
	background-size: cover;
}
.container {
	width: 40%;
	margin: auto;
	overflow: hidden;
	text-align: center;
	background: rgba(0,0,0,0.6);
	box-shadow: rgba(0,0,0,.5);
	
	
}
.btn {
	background: #0072ff;
	padding: 0.5rem 1rem;
	color: #fff;
	width: 20%;
}
h1 {
	color: #fff;
	font-family: cursive;
}
input {
	border-radius: 20px;
	padding: 0.8rem;
	border: none;
	width: 70%;
}